
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Reserv 
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="ReservList" asp-controller="Restorant" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Reserv List </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="ShopList" asp-controller="Giftos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shop List</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="ContactList" asp-controller="Giftos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contact Listt</p>
            </a>
        </li>



    </ul>
</li>