@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form>
 <div class="card-body">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name">
                    </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label for="DateTime">Date & times </label>
                        <input type="datetime" class="form-control" id="DateTime" placeholder="DateTime">
                      </div>

                    <div class="form-group">
                        <label for="PeopleCount">People</label>
                        <input type="text" class="form-control" id="PeopleCount" placeholder="People">
                    </div>
          
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
 </div>     </div>
</form>